smtp:
    host: smtp.gmail.com
    port: 465
    username: <username>
    password: <password>
    security: ssl
mail:
    from: michaeldevery@gmail.com
    from_name: Yaryyard
    support_mail: michaeldevery@gmail.com
twig:
    autoescape: false
    template_directory: /app/resources/twig/templates
    debug: false
    strict_variables: true
translator:
    fallback_locale: en